@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    border: 1px solid rgb(160, 157, 130);
    border-radius: 10px;
    box-shadow: 5px 5px 10px hsl(0, 0%, 0%, .1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
    
}

.card img{
    max-width: 60%;
    height: auto !important;
    border-radius: 50%;
    margin-bottom: 10px;

}
.card .title{
    font-family: Arial, sans-serif;
    margin: 0;
    color: #0d7a48;

}

.card .description{
    font-family: Arial, sans-serif;
    margin: 0;
    color: #8ca379;
}
.inpur_1{
    border: solid 1px #38573f;
    border-radius: 10px;
    color: #0d7a48;
    box-shadow: #8ca379;
}